.post-area{
  margin: 1rem 3rem 0rem;
}
.post-block{
  background: white;
  border-radius: 5px;
  margin: 0rem 0rem 1rem;
}
.post-head{
  padding: 0.5rem;
}
.post-author-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.post-author-name{
  font-weight: bold;
  font-size: 12px;
  color: black;
}
.post-date{
  font-size: 10px;
}
.post-divider{
  height: 1px;
  width: auto;
  background: gray;
}
.post-caption{
  font-weight: bold;
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.post-img{
  width: auto;
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
}
.post-text{
  font-size: 14px;
}
.post-like-count{
  font-size: 14px;
}