{% extends 'Blog/main.html' %}
{% load crispy_forms_tags %}
{%block content%}

  <h3 class="page-title my-3">User Registration Form</h3>
  <div class="page-title-underline"></div>
  <p class="text-info">Already have an account? <a href="{% url 'login' %}" class="quick-link"> Login</a> here</p>
  <div class="row">
    <div class="col-7">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-blog text-capitalize my-2">sign up</button>
      </form>
    </div>
  </div>

{% endblock %}